CLIENT_GATEWAY_PORT=3000

ORDERSDB_USER=dbuser
ORDERSDB_DB=dbname
ORDERSDB_PASSWORD=dbpwd

PAYMENTS_MS_PORT=3003
PAYMENTS_MS_STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
PAYMENTS_MS_STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
# Stripe API secret -> https://dashboard.stripe.com/test/apikeys
PAYMENTS_MS_STRIPE_SECRET=
# Stripe webhook signing secret -> https://dashboard.stripe.com/test/workbench/webhooks
PAYMENTS_MS_STRIPE_WEBHOOK_SECRET=