[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/luisborquez-nestjs-microservicios/productsapp-client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/luisborquez-nestjs-microservicios/productsapp-products-ms.git
